Work/Confirmit/Cati/QA/TestCode/OlympicPrepareTest/CatiOlympicPrepareTest/Service References/SupervisorService/Confirmit.CATI.Common.Logging.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Confirmit.CATI.Common.Logging" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Confirmit.CATI.Common.Logging" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfLogFileInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LogFileInfo" nillable="true" type="tns:LogFileInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLogFileInfo" nillable="true" type="tns:ArrayOfLogFileInfo" />
  <xs:complexType name="LogFileInfo">
    <xs:sequence>
      <xs:element name="_x003C_CreationTimeUtc_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_LastWriteTimeUtc_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_Length_x003E_k__BackingField" type="xs:long" />
      <xs:element name="_x003C_Name_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LogFileInfo" nillable="true" type="tns:LogFileInfo" />
</xs:schema>