Work/Confirmit/Cati/QA/TestCode/OlympicPrepareTest/CatiOlympicPrepareTest/Service References/SupervisorService/Confirmit.CATI.Common.Exceptions.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Confirmit.CATI.Common.Exceptions" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Confirmit.CATI.Common.Exceptions" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="UserMessageExceptionDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageKey" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserMessageExceptionDetails" nillable="true" type="tns:UserMessageExceptionDetails" />
  <xs:complexType name="SchedulingScriptSyntaxErrorExceptionDetails">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:UserMessageExceptionDetails">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ErrorDetails" nillable="true" type="q1:ArrayOfanyType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SchedulingScriptSyntaxErrorExceptionDetails" nillable="true" type="tns:SchedulingScriptSyntaxErrorExceptionDetails" />
</xs:schema>