Work/Confirmit/Cati/QA/TestCode/OlympicPrepareTest/CatiOlympicPrepareTest/Service References/SupervisorService/Confirmit.CATI.Core.Services.PersonImport.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Confirmit.CATI.Core.Services.PersonImport" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Confirmit.CATI.Core.Services.PersonImport" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="ColumnRole">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Group" />
      <xs:enumeration value="Login" />
      <xs:enumeration value="Password" />
      <xs:enumeration value="PersonDescription" />
      <xs:enumeration value="TaskChoice" />
      <xs:enumeration value="PersonLocation" />
      <xs:enumeration value="AutomaticSurvey" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ColumnRole" nillable="true" type="tns:ColumnRole" />
  <xs:complexType name="ImportOptions">
    <xs:sequence>
      <xs:element minOccurs="0" name="ImportFirstRow" type="xs:boolean" />
      <xs:element minOccurs="0" name="OverwriteExistentData" type="xs:boolean" />
      <xs:element minOccurs="0" name="OverwriteExistentRelations" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ImportOptions" nillable="true" type="tns:ImportOptions" />
  <xs:complexType name="ImportResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="AutomaticSurveyReset" type="xs:int" />
      <xs:element minOccurs="0" name="AutomaticSurveySet" type="xs:int" />
      <xs:element minOccurs="0" name="GroupsCreated" type="xs:int" />
      <xs:element minOccurs="0" name="Log" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PersonsCreated" type="xs:int" />
      <xs:element minOccurs="0" name="RowsProcessed" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ImportResult" nillable="true" type="tns:ImportResult" />
</xs:schema>