Work/Confirmit/Cati/QA/TestCode/OlympicPrepareTest/CatiOlympicPrepareTest/Service References/SupervisorService/Confirmit.CATI.Core.Telephony.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Confirmit.CATI.Core.Telephony" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Confirmit.CATI.Core.Telephony" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DialerAvailableExtendedFunctionality">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsLogGetterSupported" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DialerAvailableExtendedFunctionality" nillable="true" type="tns:DialerAvailableExtendedFunctionality" />
  <xs:complexType name="ArrayOfDialerOverridenFeature">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DialerOverridenFeature" nillable="true" type="tns:DialerOverridenFeature" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDialerOverridenFeature" nillable="true" type="tns:ArrayOfDialerOverridenFeature" />
  <xs:complexType name="DialerOverridenFeature">
    <xs:sequence>
      <xs:element minOccurs="0" name="DefaultValue" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OverridenValue" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DialerOverridenFeature" nillable="true" type="tns:DialerOverridenFeature" />
</xs:schema>