Work/Confirmit/Cati/QA/TestCode/OlympicPrepareTest/CatiOlympicPrepareTest/Service References/SupervisorService/DialerCommon.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DialerCommon" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DialerCommon" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DialerFeatures">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsBargingSupported" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsCoachingSupported" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsExternalTransferSupported" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsIVRSupported" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsInboundSupported" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsInternalTransferSupported" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsMonitoringMuteSupported" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DialerFeatures" nillable="true" type="tns:DialerFeatures" />
</xs:schema>